@import "tailwindcss";

:root {
  --accent-color: rgb(17, 121, 17);
  --accent-dark-color: rgb(9, 82, 9);
  --background-color: rgb(200, 234, 200);
  --background-dark-color: rgb(183, 224, 183);
  --background-leaf-size: 6rem;
  --background-leaf-min-spacing: 2rem;
  --carousel-width: 10rem;
}

#greeting {
  font-size: 4rem;
  color: white;
  padding: 2rem;
  /* border: 1px solid white; */
  border-radius: 4rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  background-color: var(--accent-color);
}

body {
  background: var(--background-color);
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem 0rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: white;

  border: 1px solid var(--accent-color);
  border-radius: 3rem;

  padding: 3rem;
  margin: 1rem 0rem;
  max-width: 40rem;
  z-index: 1;
}
.card > p {
  font-size: larger;
  margin-bottom: 1rem;
}

.button-bar {
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.button {
  padding: 1rem 2rem;
  color: white;
  background: var(--accent-color);
  border-radius: 2rem;
}
.button:hover {
  background: var(--accent-dark-color);
}

/* Slider adapted from https://css-tricks.com/css-only-carousel/ */
.slider {
  text-align: center;
  overflow: hidden;
}
.slides {
  display: flex;
  width: var(--carousel-width);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}
.slides::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: var(--carousel-width);
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slide-nav {
  background: var(--accent-color);
  color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide-nav:hover {
  background: var(--accent-dark-color);
}
.slide-button {
  display: inline-flex;
  width: 0.7rem;
  height: 0.7rem;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0.5rem 0.5rem 0;
  position: relative;
}
.slide-button-active {
  background: var(--accent-color);
}
.slide-button-inactive {
  background: var(--background-color);
}

.slide-button:hover {
  background: var(--accent-dark-color);
}

.slide-button:focus {
  background: #000;
}
.slide-text {
  font-size: large;
}
.slide-emoji {
  font-size: 100px;
}

.background-tiles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(10, minmax(calc(1.5 * var(--background-leaf-size)), 1fr));
  justify-items: center;
  
  z-index: -1;
  margin-left: 2.5%;
}
.background-tiles>.leaf:nth-child(20n+1),
.background-tiles>.leaf:nth-child(20n+2),
.background-tiles>.leaf:nth-child(20n+3),
.background-tiles>.leaf:nth-child(20n+4),
.background-tiles>.leaf:nth-child(20n+5),
.background-tiles>.leaf:nth-child(20n+6),
.background-tiles>.leaf:nth-child(20n+7),
.background-tiles>.leaf:nth-child(20n+8),
.background-tiles>.leaf:nth-child(20n+9),
.background-tiles>.leaf:nth-child(20n+10)
{
  margin-left: -100%;
}

.leaf {
  filter: invert(99%) sepia(78%) saturate(446%) hue-rotate(49deg)
    brightness(92%) contrast(89%);
  width: var(--background-leaf-size);
  height: var(--background-leaf-size);
}

/* Don't need button navigation */
@supports (scroll-snap-type) {
  .slide-button {
    display: none;
  }
}
