:root {
    /* Colours */
    --bg-color: lightgrey;
    --fg-color: white;
    --pill-color: rgb(230, 250, 230);
    --accent-color: rgb(17, 121, 17);

    --page-margin-size: 0.45in;
    --left-margin-size: 0.65in;
    
    /* Text */
    --header-size: 14pt;
    --text-size: 11pt;
    --line-spacing: 3pt;
    
    /* Column separator */
    --separator-gap: 0.2in;
    --separator-width: 1.5pt;
    --separator-radius: calc(0.2 * var(--header-size));
}  

/* Page layout */
body {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    display: flex;
}
.content-container {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-items: baseline;
}
@media screen {
    .content-container {
        row-gap: 10pt;
        column-gap: 60pt;
    }
}
.page {
    width: calc(8.5in - 2 * var(--page-margin-size));
    height: calc(11in - 2 * var(--page-margin-size));
    background-color: var(--fg-color);
    padding: var(--page-margin-size);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.page-content {
    margin-left: var(--left-margin-size);
}

/* Fonts */
h1, h2, a, p, ul, li {
    font-family: "Figtree", sans-serif;
}

h1 {
    font-size: 24pt;
    margin: 0;
    padding-bottom: 0.1in;
    color: var(--accent-color);
    font-weight: 300;
}
h2 {
    font-size: var(--header-size);
    margin: 0;
    color: var(--accent-color);
    font-weight: 400;
}
a, p, ul, li {
    font-size: var(--text-size);
    margin: var(--line-spacing) 0 0 0;
    font-weight: 300;
}
ul {
    padding-inline-start: 0.15in;
}
a {
    text-decoration: none;
    color: var(--accent-color);
}
a:hover {
    text-decoration: underline;
}
code {
    background-color: var(--pill-color);
    print-color-adjust: exact;
    margin-left: 4pt;
    border-radius: 10pt;
    padding: 2pt 5pt 2pt 5pt;
}
.highlighter-rouge {
    font-size: 9pt;
}

/* Header layout */
#header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.infobox {
    display: flex;
    flex-direction: column;
}
.infobox-entry {
    display: flex;
    justify-items: center;
    align-content: center;
}
.infobox-entry-icon {
    padding-top: 0.05in;
    padding-left: 0.05in;
    padding-right: 0.05in;
}

/* Content layout */
section {
    padding-top: 0.1in;
    position: relative;
    margin-bottom: 0.1in;
}
section h2 {
    padding-left: calc(var(--separator-gap) / 2);
}
.section-content {
    display: flex;
    flex-direction: column;
    row-gap: 0.1in;
}
#publications, #projects, #skills {
    .section-content {
        row-gap: 0;
    }
}
.resume-entry-float {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: calc(var(--left-margin-size));
    margin-left: calc(-1 * var(--left-margin-size) - var(--separator-gap) / 2);
    text-align: right;
    * {
        width: 100%;
        font-size: 9.5pt;
        line-height: calc(var(--text-size) + var(--line-spacing));
    }
}
.resume-entry-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: calc(var(--separator-gap) / 2);
}
.resume-entry-header-left {
    display: flex;
}
.resume-entry-icon {
    margin-top: 4pt;
    padding-right: 4pt;
}
.resume-entry-content {
    padding-left: calc(var(--separator-gap) / 2);
}
#education .resume-entry-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 15pt;
}
#skills {
    .resume-entry-header {
        justify-content: left;
    }
    .resume-entry-header-left {
        width: 1in;
    }
}

#footer {
    text-align: center;
}

/* Decorative elements */
.vertical-separator-circle {
    position: absolute;
    margin-top: calc(var(--header-size) / 2 - var(--separator-radius));
    margin-left: calc(-1 * var(--separator-radius));
    height: calc(2 * var(--separator-radius));
    width: calc(2 * var(--separator-radius));
    border-radius: var(--separator-radius);
    background-color: var(--accent-color);
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact; 
}
.vertical-separator {
    position: absolute;
    margin-top: calc(var(--header-size) / 2);
    margin-left: calc(-1 * var(--separator-width) / 2);
    background-color: var(--accent-color);
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact; 
    height: calc(100% - var(--header-size));
    float: left;
    width: var(--separator-width);
}