<div class="{{ 'ui-card-wrapper ' | append: include.wrapper-class | rstrip }}">
  <div class="{{ 'ui-card ui-hover-card ' | append: include.card-class | rstrip }}"
    {% if include.id %} id="{{ include.id }}" {% endif %}
    {% if include.img %} style="background-image: url('{{ include.img }}')" {% endif %}
  >
    <div class="{{ 'ui-hover-card-overlay ' | append: include.card-overlay-class | rstrip }}"
      {% if include.overlay-img %} style="background-image: url('{{ include.overlay-img }}')" {% endif %}
    >
      <div class="{{- 'ui-card-content-wrapper ui-hover-card-content-wrapper ' |
        append: include.card-content-wrapper-class | rstrip
      -}}">
        <div class="{{ 'ui-card-header ui-hover-card-header ' | append: include.card-header-class | rstrip }}">
          <h1>
            {{- include.header -}}
          </h1>
        </div>
        <div class="{{ 'ui-card-body ui-hover-card-body ' | append: include.card-body-class | rstrip }}">
          {{- include.content -}}
        </div>
      </div>
    </div>
  </div>
</div>