<div class="App">
    <p class="App-header">{{ include.test.title }}</p>
    <div class="test-description">{{ include.test.description }}</div>
    <form>
        <div class="test-container">
            <div class="test-box">
                {% assign i = 1 %}
                {%- for question in include.test.questions -%}
                    <div class="item-row">
                        {{ i }}.
                        {% assign i = i | plus: 1 %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">{{ question.q }}</label>
                        </div>
                    </div>
                {%- endfor -%}
            </div>
        </div>
    </form>
    <div>
        <button type="button" class="btn btn-primary" id="test-score-btn">Calculate My Score!</button>
    </div>
    <div class="result-container">
        <button type="button" class="btn btn-primary" id="test-back-btn" style="display: none;">Back</button>
        {%- for s in include.test.score -%}
            <div class="result-row" data-threshold="{{ s.threshold }}" style="display: none;">
                <div class="score-style" data-name="{{ s.name }}">{{ s.name }}</div>
                <div class="response-style">{{ s.description }}</div>
            </div>
        {%- endfor -%}
    </div>
    <div class="margin-wrapper">
    </div>
</div>