.button {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-decoration-line: none;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-image {
  width: inherit;
  height: inherit;
}