// Layout

.card {
  border-radius: 2em;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-divider {
  width: 100%;
  height: 1px;

  border: none;
}

.card-body {
  width: 100%;

  padding-left: 5%;
  padding-right: 5%;

  display: flex;
  flex-direction: column;
}

// Fonts

.card-header h1, .card-body h1 {
  font-family: 'Exo 2', 'sans serif';
  font-size: 3em;
}

.card-body h1 {
  margin-bottom: 1%;
}

.card-body p {
  font-family: 'Open Sans', 'sans serif';
  font-size: 1em;
  line-height: 200%;
}