// Layout

.card {
  width: 100%;

  padding-top: 2rem;
  padding-bottom: 2rem;

  border-radius: 2rem;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-header {
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;

  display: flex;
  justify-content: center;
}

.card-divider {
  width: 100%;
  height: 1pt;
  border: none;
}

.card-body {
  width: 100%;
  height: 100%;
  padding-left: 3rem;
  padding-right: 3rem;

  display: flex;
  flex-direction: column;
}

// Fonts

.card-header > h1 {
  text-align: center;
}