:root {
  --title-txt-color: #FFFFFF;
  --home-txt-color: #FFFFFF;
  --home-nav-button-hover-color: rgba(100, 100, 100, 0.5);
  --card-color: rgba(100, 100, 100, 0.5);
}

// Layout

.overlay section {
  min-height: 100vh;
}

// Title + Navigation bar

.home-overlay {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.overlay-title {
  padding-bottom: 0.2em;

  font-size: 7.5em;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  text-decoration-line: none;

  color: var(--title-txt-color);
}

.home-nav-bar {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.home-nav-button {
  border-radius: 0.5em;
  padding: 0.5em;

  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
  text-decoration-line: none;

  color: var(--home-txt-color);
}

.home-nav-button:hover {
  background: var(--home-nav-button-hover-color);
}

@media only screen and (max-width: 1000px) {
  .overlay-title {
    font-size: 5em;
  }

  .home-nav-button {
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 600px) {
  .overlay-title {
    font-size: 3em;
  }

  .home-nav-button {
    font-size: 1em;
  }
}

// Cards

.card {
  max-width: 1000px;
  background: var(--card-color);
}

.card * {
  color: var(--home-txt-color);
}

.card-divider {
  background: var(--home-txt-color);
}

.card-body {
  padding-left: 5%;
  padding-right: 5%;
}

.card-header h1, .card-body a, .card-body p {
  font-family: 'Open Sans', 'sans serif';
}

.card-body a, .card-body p {
  line-height: 200%;
}

.card-body h1 {
  margin-bottom: 1%;

  font-family: 'Exo 2', 'sans serif';
  font-size: 3em;
  line-height: 100%;
}

.card-body p {
  font-size: 1em;
}

// Footer button bar

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 5%;
  padding-right: 5%;

  border-radius: 2em;
  background: var(--card-color);
}

.footer-button, .footer-copyright {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-button-image {
  filter: invert(100%);
}

.footer-copyright {
  font-family: 'Open Sans', 'sans serif';
  font-size: 1em;
  color: var(--home-txt-color);
}