// Layout

.ui-hover-card {
  background-size: 100%, contain;
  background-repeat: no-repeat;
  background-position: center;
}

.ui-hover-card-overlay {
  width: 100%;
  height: 100%;

  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui-hover-card-content-wrapper {
  position: relative;
}

.ui-hover-card-overlay:hover {
  .ui-hover-card-header {
    opacity: 0;
  }

  .ui-hover-card-body {
    display: flex;
  }
}

.ui-hover-card-body {
  position: absolute;

  display: none;
  justify-content: center;
  align-items: center;
}