:root {
  --toolbar-height: 5em;
  --toolbar-section-width: 10em;
}

.nav-toolbar {
  width: 100%;
  height: var(--toolbar-height);

  position: sticky;
  margin: 0;
  top: 0;
  z-index: 1;

  background: black;

  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-toolbar-left, .nav-toolbar-right {
  width: var(--toolbar-section-width);
  height: 100%;
  
  display: flex;
  align-items: center;
  flex: 1;
}

.nav-toolbar-left {
  justify-content: flex-start;
  padding-left: 2%;
}

.nav-toolbar-right {
  justify-content: flex-end;
  padding-right: 2%;
}

.nav-toolbar-logo {
  width: 100%;
  height: 100%;
}

.nav-toolbar-logo a {
  font-size: 2em;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  line-height: 110%;
  text-decoration-line: none;
}

.nav-toolbar-logo a:hover {
  text-decoration-color: var(--accent-color);
}

.nav-button-bar {
  width: 100%;
  height: 100%;
}

.nav-button {
  width: 2em;
  height: 2em;

  margin-left: 1vw;
  margin-right: 1vw;
}

.nav-button:hover {
  filter: invert(0.5);
}