---
---

// Main card

.main-card {
  max-width: 90%;
  background: none;
}

.project-wrapper {
  min-width: 50%;
}

@media (max-device-width: 800px), (max-width: 850px) {
  .main-card {
    max-width: 100%;
  }

  .project-wrapper {
    min-width: 100%;
  }
}

.main-card-body {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

// Project cards

.project-card {
  min-height: 20rem;
}

.project-wrapper {
  padding: 1rem;
}

.project-card-overlay {
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid var(--accent-color);
}

.project-card-overlay p {
  text-align: center;
}

.project-card-overlay:hover {
  background: rgba(0, 0, 0, 0.9);
}

.project-button {
  width: 2.5rem;
  height: 2.5rem;

  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.project-button:hover {
  filter: invert(0.5);
}