---
---
:root {
  --theme-dark-card-color: rgba(40, 40, 40, 0.9);
  --theme-light-card-color: rgba(240, 240, 240, 0.5);
  --card-max-width: 50rem;
}

// Theme toggle
.theme-toggle {
	position: fixed;
	top: 0;
	left: 0;
	padding: 1.5em;
	cursor: pointer;
}

.theme-toggle:hover {
	filter: opacity(0.5)
}

.theme-toggle-icon {
	position: relative;
	align-items: center;
	align-content: center;
	width: 1.5rem;
	user-select: none;
	filter: saturate(1) invert(1);
}

#dark-mode-icon { display: none; }
#light-mode-icon { display: block; }

// GOL restart
.gol-control {
	position: fixed;
	top: 0;
	right: 0;
	padding-top: 1.3em;
	padding-right: 1.3em;
	user-select: none;
}

.gol-state, .gol-restart {
	position: relative;
	padding: 0.8em;
	cursor: pointer;
	display: inline;
}

.gol-state:hover, .gol-restart:hover {
	filter: opacity(0.5)
};

.gol-control-icon {
	position: relative;
	align-items: center;
	align-content: center;
	width: 1.7rem;
	filter: grayscale(1) saturate(1);
}

#gol-play-icon { display: inline; }
#gol-pause-icon { display: none; }

// Layout

.overlay > header {
  height: 100vh;
}

.title-card-content{
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay section, .overlay footer {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.home-content {
  min-height: 100vh;
}

// Title + Navigation bar

.home-title {
  padding-bottom: 0.2rem;

  font-size: 6.5rem;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  text-decoration-line: none;
}

.home-nav-bar {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.home-nav-button {
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
}

@media (max-device-width: 800px), (max-width: 850px) {
  .home-title {
    font-size: 3rem;
  }

  .home-nav-button {
    font-size: 1.5rem;
  }
}

// Cards
.home-card { max-width: var(--card-max-width); }
.theme-dark {
	.home-card { background: var(--theme-dark-card-color); }
	.home-nav-button:hover { background: var(--theme-dark-card-color); }
	.footer-button { filter:invert(0); }
	.gol-control { filter: invert(1); }
}
.theme-light {
	.home-card { background: var(--theme-light-card-color); }
	.home-nav-button:hover { background: var(--theme-light-card-color); }
	.footer-button { filter:invert(1); }
	.gol-control { filter: invert(0); }
}

// Footer button bar

.footer-button, .footer-copyright {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-button {
  width: 3rem;
  height: 3rem;

  margin-left: 0.5rem; 
  margin-right: 0.5rem; 
}

.footer-button:hover {
  opacity: 0.3;
}

.footer-copyright {
  text-align: center;
}

.footer-card-content-wrapper {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}