---
---

.main-wrapper {
	width: 100%;
  height: 100%;
  margin: 0;

	position: fixed;
	display: flex;
}

.control-pane {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em;
	background: #111111;
}

.control-group {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;

	.control-group-title {
		flex: 2;
		margin-block-end: 0.5em;
	}
}

.control-row {
	width: 100%;
	display: flex;

	p {
		margin-block-start: 0em;
		margin-block-end: 0em;
	}

	select {
		margin-left: 1em;
		width: 100%;
	}
}

hr {
	width: 100%;
}

.canvas-wrapper {
	flex: 4;
}