---
---

.main-wrapper {
	width: 100%;
  height: 100%;
  margin: 0;

	position: absolute;
	display: flex;
	flex-direction: row;
}

.control-pane {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #111111;
	min-width: 17rem;
  overflow-x: auto;

  hr {
    width: 100%;
  }

  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 1em 0em 1em;
  }

  section {
    width: 100%;
    overflow-y: auto;
    padding: 1em;
  }
}

.control-group {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;

	.control-group-title {
		flex: 2;
		margin-block-end: 0.5em;
	}
}

.control-row {
	width: 100%;
	display: flex;
	align-items: center;

	p {
		margin-block-start: 0em;
		margin-block-end: 0em;
		margin-right: 1em;
	}

	select {
		width: 100%;
	}

  .control-textarea {
    width: 100%;
    resize: vertical;
  }

	.control-number {
		width: 15%;
	}
}

.canvas-wrapper {
	flex: 4;
}

@media (max-device-width: 800px), (max-width: 850px) {
  .main-wrapper {
		display: block;
	}

	.canvas-wrapper {
		height: 100vh;
	}
}

.button-array {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  button {
    flex: 1;
    min-width: 50%;
  }
}