html {overflow-x: hidden}
body {overflow-x: hidden; margin: 0px 0px 0px 0px; background-color:#1B1B1B}

/* Import fonts */
@font-face {font-family: bgothl; src: url(../fonts/bgothl.ttf); }
@font-face {font-family: open-sans; src: url(../fonts/open-sans.ttf); } 

h1 {font-family: bgothl; font-size: 40px}
h2 {font-family: bgothl; font-size: 25px}

/* Class styles */
div.subsection {position: relative; padding-left: 25px; padding-right: 25px; margin-top: 25px; color: #01DF01}
div.paragraph {position: relative; font-family: open-sans, sans-serif; font-size: 18px; line-height: 30px; text-indent: 40px; color: #ffffff}
/*div.icon-container {position: relative; left: 0px}*/
img {padding-top: 5px; padding-bottom: 10px}
footer {padding-top: 150px}

#header {z-index: 1; margin-top: 0px; margin-bottom:0px; position:relative; left: 0px; right: 0px; top: 0px; padding-top: 5px; padding-bottom: 5px; text-align: center; background-color: #0D0D0D; color: #01DF01}
#menu {z-index: 1; margin-top: 0px; margin-bottom:0px; position:relative; left: 0px; right: 0px; top: 0px; text-align: center; background-color: #0D0D0D; color: #01DF01}
#content {z-index: 0; margin-top: 0px; margin-left:40px; margin-right:40px; position:relative}

/* Link styles*/
a {text-decoration: none; color: #01DF01}
a:visited {text-decoration: none; color: #01DF01}
a:hover {color: #088A08}
a.paragraph {text-decoration: underline; color: #ffffff}
a.paragraph:visited {text-decoration: underline; color: #ffffff}
a.paragraph:hover {text-decoration: underline; color: #01DF01}