/* Default font */
@font-face {font-family: bgothl; src: local("BankGothic Lt BT"), url(../fonts/bgothl.ttf); } 

h1 {font-family: bgothl; font-size: 70px}
h2 {font-family: bgothl; font-size: 25px}

body {margin: 0px 0px 0px 0px; background-color:#0D0D0D}

#header {z-index: 1; position:absolute; top: 150px; left: 0px; right: 0px; margin-top: 0px; padding-top: 5px; text-align: center; vertical-align: middle; color: #01DF01; opacity: 0}
#menu {z-index: 1; position: relative; margin-top: -30px}
#canvas {z-index: -1; background-color: #0D0D0D; position: relative;margin-top: -300px}
#content {z-index: 0; margin-top: 0px; position:relative}

/* Link styles*/
a {text-decoration: none; color: #01DF01}
a:visited {text-decoration: none; color: #01DF01}
a:hover {color: #088A08}