h2 {text-align: center; color: #FFFFFF; margin-top: 5px}
p {text-align: left; color: #FFFFFF}
canvas {width: 100%; height: 100%}

/* Class styles */
.input-container {text-align: left; width: 100%; color: #FFFFFF; margin-left: auto; margin-right: auto}
.control-box {margin-left: auto; margin-right: auto; vertical-align: top; width: 15%}
.controls {width: 100%; height: 100%}
.scrollpane-wrapper {width: 100%; height: 100%}
.scrollpane {overflow: auto; width: 100%; height: 100%; text-align:left; vertical-align: bottom}

#layout-table {margin: auto; width: 100%; table-layout: fixed; height: 100%}