<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <!-- Redirect to resume until homepage is ready -->
    <meta http-equiv="refresh" content="0; URL=/resume">
    <link rel="canonical" href="/resume">
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
  </head>
  <!-- <body>
      <h1>{{ page.title }}</h1>
      <nav>
        <a href="/">About</a>
        <a href="https://github.com/chjon/">Github</a>
        <a href="/resume/">Resume</a>
      </nav>
    <section>
      {{ content }}
    </section>
    <footer>
      &copy; Jonathan Chung 2025
    </footer>
  </body> -->
</html>