html {
	overflow-x: hidden;
}

body {
	overflow-x: hidden;
	background-color: #FFFFFF;
	margin: 0;
}

/* Canvas */
#game-of-life-canvas {
	height: 100%;
	opacity: 1;
	margin: 0;
}

/* Text */
.display-1 {
	color: #FFFFFF;
}

.paragraph {
	font-size: 18px;
}

/* Buttons */
.title-btn {

}

/* Containers */
header, footer {
	overflow-x: hidden;
	text-align: center;
	background-color: #000000;
}

.section-odd {
	background-color: #FFFFFF;
}

.section-even {
	text-align: center;
	background-color: #1B1B1B;
}

.title-wrapper {
	padding-top: 5%;
	padding-bottom: 5%;
}

.text-wrapper {
	padding-top: 5%;
	padding-bottom: 5%;
	width: 50%;
}

.section-even > .title-wrapper > .display-4 {
	color: #FFFFFF;
}

#canvas-overlay {
	position: absolute;
	text-align: center;
	height: 100%;
}