<!doctype html>
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    {%- if page.url == site.baseurl -%}
      <link rel="stylesheet" href="/assets/css/index.css">
    {%- endif -%}
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo+2:100">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    <canvas class="underlay" id="background-canvas"></canvas>
    <div class="overlay">
      {{ content }}
    </div>
  </body>
</html>