---
layout: canvas-page
---

{%- capture header-content -%}
  <a class="home-title">{{ site.title }}</a>
  {% include button-bar.html
    data=site.data.home-nav-bar
    button-bar-class="home-nav-bar"
    button-class="home-nav-button"
  %}
{%- endcapture -%}

{%- capture footer-content -%}
  {% include button-bar.html
    data=site.data.toolbar
    button-bar-class="footer-button-bar"
    button-class="footer-button"
    button-image-class="footer-button-image"
  %}
  <p class="footer-copyright">{{-
    '© ' | append: site.author |  append: ' ' | append: site.copyright-year |
    append: '. All rights reserved.'
  -}}</p>
{%- endcapture -%}

<div class="theme-toggle" id="theme-toggle-button">
  <img class="theme-toggle-icon" id="dark-mode-icon" src="https://d33wubrfki0l68.cloudfront.net/f1aed38c5ca61d78eb09f3857de588a7d4679f36/1ed28/assets/img/moon.svg" aria-hidden="true">
  <img class="theme-toggle-icon" id="light-mode-icon" src="https://d33wubrfki0l68.cloudfront.net/c534ad3787ca21225a86665ca89331efce18ae4b/c2d11/assets/img/sun.svg" aria-hidden="true">
</div>

<header>
  {%- include card.html
    content=header-content
    card-body-class="title-card-content"
  -%}
</header>

<div class="home-content">
  {{ content }}

  <footer>
    {%- include card.html
      content=footer-content
      card-class="home-card"
      card-content-wrapper-class="footer-card-content-wrapper"
    -%}
  </footer>
</div>